@font-face {
  font-family: 'icomoon';
  src:url('../../../fonts/icomoon.eot?-pffhb3');
  src:url('../../../fonts/icomoon.eot?#iefix-pffhb3') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-pffhb3') format('truetype'),
    url('../fonts/icomoon.svg?-pffhb3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-video:before {
  content: "\e60f";
}
.icon-shield:before {
  content: "\e606";
}
.icon-icon:before {
  content: "\e608";
}
.icon-type:before {
  content: "\e601";
}
.icon-color:before {
  content: "\e602";
}
.icon-asset:before {
  content: "\e603";
}
.icon-manager:before {
  content: "\e60d";
}
.icon-form:before {
  content: "\e604";
}
.icon-close:before {
  content: "\e600";
}
.icon-table:before {
  content: "\e605";
}
.icon-grid:before {
  content: "\e609";
}
.icon-person:before {
  content: "\e60e";
}
.icon-target:before {
  content: "\e610";
}
.icon-rocket:before {
  content: "\e60a";
}
.icon-list:before {
  content: "\e607";
}
.icon-text:before {
  content: "\e60b";
}
.icon-modal:before {
  content: "\e60c";
}


//menu overides

.menu-icon a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: 12px;
}

.menu-icon:before {
  display: none;
}


.icon-module:before {
  content: "\e601";
}
.icon-time:before {
  content: "\e602";
}
.icon-video:before {
  content: "\e600";
}

