/*------------------------------------------------------------------
[Style Guide Stylesheet]

Project:    Rookie Canada
Version:    1.0.0

/* 1. Imports   --------------------------------------------------------*/
/*------------------------------------------------------------------
[Header Stylesheet]

Project:    RentersWarehouse.com
Version:    1.0.0

1. Header
2. Brand
3. Menu
4. Toolbar

--------------------------------------------------------------------*/
header {
  position: relative;
  z-index: 1;
  background: #d5183c;
  background: -webkit-linear-gradient(top, #d5183c 0%, #cc1739 100%);
  -webkit-transition: 0.2s ease-in;
          transition: 0.2s ease-in;
}
header.shadow {
  border-bottom: 2px solid #b01432;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
header #brand {
  float: left;
  width: 240px;
}
header #brand a img {
  left: 0;
  width: 100%;
  margin-top: 5px;
}
header ul.menu {
  float: right;
  list-style: none;
  margin: 0;
}
header ul.menu li {
  float: left;
  margin: 0;
}
header ul.menu li a {
  color: #FFF;
  text-decoration: none;
  line-height: 70px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 15px;
  display: block;
  font-family: "iskra";
}
header ul.menu li a:hover {
  background: #be1536;
  -webkit-transition: 0.08s ease-in;
          transition: 0.08s ease-in;
}
header ul.menu li.current_page_item a {
  background: #b91534;
}
header #log-activity {
  float: right;
  margin: 27px 0 0 10px;
}
header #log-activity a {
  background: #E5FF00;
  color: #111;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 3px;
  width: 140px;
  text-align: center;
  font-weight: bold;
  font-family: "iskra";
}
header #log-activity a:hover {
  background: #FFF;
}
#language {
  width: 800px;
  position: fixed;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  height: 450px;
  margin-top: -225px;
  z-index: 1001;
  background: #d5183c;
  visibility: hidden;
  text-align: center;
  border-radius: 3px;
}
#language img {
  width: 400px;
  height: auto;
  margin: 20px 0;
}
#language h4 {
  font-weight: bold;
  font-style: italic;
  font-family: "iskra";
  font-size: 18px;
  color: #FFF;
  text-transform: none;
  margin: 0 0 10px 0;
}
#language .button {
  margin: 10px;
  padding: 0 70px;
}
#language .button.french {
  opacity: .5;
}
.page-title {
  background: #e51f45 url('img/schools.jpg') center center no-repeat;
  position: relative;
}
.page-title h1 {
  text-align: left;
  color: #FFF;
  line-height: 242px;
  height: 300px;
  font-size: 65px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -2px;
  z-index: 1;
  position: relative;
}
main.row {
  margin-top: -55px;
  background: #f7f8fb;
  z-index: 1;
  position: relative;
  min-height: 800px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
main.row .content-wrapper {
  padding: 10px 60px 80px 60px;
  background: #FFF;
  border-radius: 0 3px 0 0;
  box-shadow: -2px 0px 3px 0px rgba(50, 50, 50, 0.05);
  min-height: 800px;
}
main.row .content-wrapper h1.title {
  border-bottom: 1px solid #cfd5e5;
  font-weight: bold;
  margin: 0;
  letter-spacing: -1px;
  padding: 20px 0;
  color: #d5183c;
}
main.row .content-wrapper img.alignright {
  float: right;
  padding: 10px 0 5px 30px;
}
main.row .content-wrapper img.alignleft {
  float: left;
  padding: 10px 30px 5px 10px;
}
main.row .content-wrapper a {
  text-decoration: none;
  color: #616c77;
  border-bottom: 1px dotted #d5183c;
}
/*------------------------------------------------------------------
[Sub-menu Stylesheet]

Project:    Rugby Canada
Version:    2.0

1. Sidebar
2. Sub-menu Level 1
3. Sub-menu Level 2
4. Active subpage 
5. Fixed Element

--------------------------------------------------------------------*/
/* 1. Sidebar  -----------------------------------------------------*/
.sidebar {
  padding: 0;
  background: #f7f8fb;
  border-radius: 3px 0 0 0;
  z-index: 1;
  position: relative;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 2. Sub-menu Level 1 --------------------------------------------------*/
aside .sub-menu > li > a {
  display: block;
  font-size: 14px;
  position: relative;
  color: #616c77;
  font-weight: bold;
  line-height: 55px;
  padding-left: 45px;
  background: #f7f8fb;
  border-bottom: 1px solid #f0f2f7;
  text-decoration: none;
  box-shadow: inset -2px 0px 1px 0px rgba(50, 50, 50, 0.05);
}
.sub-menu > li {
  position: relative;
  margin: 0;
}
.sub-menu > li:first-child a {
  border-radius: 3px 0 0 0;
}
aside .sub-menu > li a:before {
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  width: 8px;
  height: 8px;
  content: '';
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -4px;
  background: #cfd5e5;
}
/* 3. Sub-menu Level 2 --------------------------------------------------*/
aside .sub-menu ul li a {
  height: 40px;
  display: block;
  position: relative;
  color: #FFF;
  padding-left: 60px;
  line-height: 40px;
  font-size: 12px;
  background: #f0f2f7;
}
/* 4. Active Subpage ---------------------------------------------------*/
aside .sub-menu > li > a.active:before,
aside .sub-menu > li.current_page_item > a:before {
  background: #d5183c;
}
aside .sub-menu > li > a.active,
aside .sub-menu > li.current_page_item > a {
  background: #e9ecf3;
}
aside .sub-menu > li > a.active:after,
aside .sub-menu > li.current_page_item > a:after {
  right: -8px;
  bottom: 50%;
  margin-bottom: -10px;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e9ecf3;
  z-index: 3;
}
/* 5. Fixed Element --------------------------------------------------*/
aside .sub-menu.fixed {
  position: fixed;
  top: 0;
  width: 315px;
  z-index: 1;
}
footer {
  background: #18181a;
  padding: 20px 0 0 0;
}
footer #footer-menu {
  border-bottom: 1px solid #242427;
  padding-bottom: 50px;
}
footer #footer-menu h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #242427;
  text-transform: none;
  font-family: "iskra";
  text-decoration: none;
}
footer #footer-menu h4 a {
  color: #f0f2f7;
  font-size: 20px;
  text-transform: none;
  font-family: "iskra";
  text-decoration: none;
  border-bottom: 0;
}
footer #footer-menu ul {
  list-style: none;
  margin: 10px 0 0 0;
}
footer #footer-menu ul li {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer #footer-menu ul a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  text-decoration: none;
  line-height: 24px;
  border-bottom: 0;
}
footer #footer-menu ul a i {
  font-size: 10px;
  line-height: 24px;
  margin-right: 5px;
}
footer #statement h3 {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  width: 60%;
  margin: 15px auto;
  line-height: 1.4;
  font-size: 22px;
  text-transform: none;
}
footer #copy-right {
  background: #000;
  text-align: center;
  color: #a2adc6;
  font-size: 12px;
  line-height: 30px;
  padding: 0;
  margin-top: 20px;
}
footer #social {
  position: absolute;
  bottom: 0;
  right: 20px;
}
footer #social h4 {
  float: left;
  border-bottom: none;
  line-height: 30px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
  font-family: "iskra";
  color: rgba(255, 255, 255, 0.5);
}
footer #social a {
  float: left;
  margin-right: 15px;
  min-height: 30px;
  line-height: 30px;
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
/* 1. Desktop Overrides --------------------------------------------------*/
.mobile {
  display: none !important;
}
.desktop {
  display: inline-block !important;
}
#side-toggle {
  display: none;
}
/* 2. Small Desktop & Landscape Tablet    --------------------------------*/
@media (max-width: 1100px) {
  header ul.menu li a {
    font-size: 14px;
    padding: 0 10px;
  }
  header {
    padding: 0 20px;
  }
}
@media (max-width: 1023px) {
  #menu-main-menu {
    display: none;
  }
  header #brand a img {
    width: 180px;
  }
  header {
    height: 55px;
    padding: 0;
  }
  #log-activity {
    display: none;
  }
  header #brand {
    position: absolute;
    left: 50%;
    margin-left: -90px;
    width: 180px;
  }
  #side-toggle {
    width: 75px;
    float: left;
    position: relative;
    height: 55px;
    cursor: pointer;
    display: block;
  }
  #side-toggle .line {
    display: block;
    background: #FFF;
    height: 4px;
    position: absolute;
    left: 20px;
    right: 20px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
  }
  #side-toggle .line.line-1 {
    top: 14px;
  }
  #side-toggle .line.line-2 {
    top: 23px;
  }
  #side-toggle .line.line-3 {
    top: 32px;
  }
  #side-toggle.active .line-1 {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
        -ms-transform: translateY(8px) translateX(0) rotate(45deg);
            transform: translateY(8px) translateX(0) rotate(45deg);
  }
  #side-toggle.active .line-2 {
    opacity: 0;
  }
  #side-toggle.active .line-3 {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
            transform: translateY(-10px) translateX(0) rotate(-45deg);
  }
  aside {
    display: none;
  }
  body #hero .caption {
    left: 30px;
  }
  body #hero .caption h2 {
    font-size: 50px;
  }
  body #hero .caption p {
    font-size: 22px;
  }
  #footer-menu {
    display: none;
  }
  main.row .content-wrapper {
    padding: 0 30px;
  }
  #overview #about .inner p {
    font-size: 13px;
    margin-top: 0;
  }
  #overview #about .inner h3 {
    margin: 20px 0 0 0;
    font-size: 20px;
  }
  #new-royalslider-1 {
    margin-bottom: 30px;
  }
  body #featured-tag {
    bottom: 30px;
  }
  .page-title h1 {
    height: 150px;
    text-align: left;
    line-height: 150px;
    color: #FFF;
    padding-left: 25px;
    font-size: 38px;
  }
  main.row {
    margin-top: 0;
  }
  body footer {
    padding: 10px 0 0 0;
  }
  footer #statement h3 {
    width: 80%;
  }
}
@media (max-width: 746px) {
  body #hero {
    height: 420px;
  }
  body #hero .caption {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    left: 0;
    right: 0;
  }
  body #hero .caption h2 {
    font-size: 40px;
  }
  body #hero .caption p {
    font-size: 18px;
  }
  .page-title h1 {
    height: 100px;
    text-align: left;
    line-height: 100px;
    color: #d5183c;
    background: #f0f2f7;
    padding-left: 15px;
    font-size: 30px;
  }
  main.row .content-wrapper {
    padding: 0 15px;
    font-size: 14px;
  }
  main.row .content-wrapper h1.title {
    font-size: 24px;
    color: #18181a;
  }
  ul {
    margin: 10px 0 10px 20px;
  }
  p {
    margin-top: 20px 0;
  }
  header {
    height: 50px;
  }
  header #brand a img {
    margin-top: 3px;
  }
  header #brand {
    margin-left: 0;
    left: auto;
    margin-right: 0;
    right: 35px;
  }
  #side-toggle {
    height: 50px;
    border-right: 1px solid #be1536;
  }
  .home .medium-8 {
    margin-bottom: 20px;
  }
  a.title {
    left: 10px;
    right: 10px;
    top: 20px;
    padding: 0;
  }
}
/*------------------------------------------------------------------
[Header Stylesheet]

Project:    RentersWarehouse.com
Version:    1.0.0

1. Hero
2. Brand
3. Menu

--------------------------------------------------------------------*/
.home #page-wrapper {
  background: #f0f2f7;
}
#hero {
  width: 100%;
  margin-top: -20px;
  height: 520px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
#hero .hero-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url('img/hero-bg.jpg') top center no-repeat;
}
#hero .caption {
  height: 200px;
  position: absolute;
  top: 100px;
  z-index: 2;
  left: 15px;
  right: 0;
  text-align: left;
  width: 60%;
}
#hero .caption h2 {
  font-size: 60px;
  margin-bottom: 14px;
  letter-spacing: -1px;
  font-weight: 700;
  color: #FFF;
}
#hero .caption p {
  color: #FFF;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 18px;
}
#hero:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  content: '';
  z-index: 1;
}
#overview {
  margin: 70px 0 0 0;
  width: 100%;
}
#overview #lead h3 {
  font-size: 34px;
  line-height: 1.4;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  max-width: 60%;
  text-transform: none;
}
#overview #lead a {
  text-align: center;
  color: #aadfd4;
  font-size: 18px;
  display: block;
  text-decoration: none;
  margin: 15px 0 50px 0;
  font-weight: bold;
}
#overview .row {
  margin-bottom: 50px;
}
#overview .columns .inner {
  background: #FFF;
  box-shadow: 0 1px 1px #C8CFE6;
  border-radius: 3px;
}
#overview #ad .inner {
  height: 325px;
  background: #d5183c;
  position: relative;
  text-align: center;
}
#overview #ad .inner > div {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid #FFF;
}
#overview #ad .inner > div img {
  width: 190px;
  margin-top: 78px;
}
#overview #about .inner img {
  border-radius: 3px 3px 0 0;
}
#overview #about .inner h3 {
  text-align: center;
  font-size: 28px;
  color: #d5183c;
}
#overview #about .inner p {
  text-align: center;
  padding: 10px 20px 40px 20px;
}
.rsSlide:after {
  background-image: -webkit-linear-gradient(left top, rgba(232, 0, 72, 0.55) 0%, rgba(16, 30, 52, 0.65) 100%);
  background-image: linear-gradient(to right bottom, rgba(232, 0, 72, 0.55) 0%, rgba(16, 30, 52, 0.65) 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  content: '';
  z-index: 1;
}
.rsSlide .title {
  position: absolute;
  text-align: center;
  font-size: 34px;
  top: 115px;
  z-index: 2;
  color: #FFF;
  width: 100%;
  text-decoration: none;
  font-family: "iskra";
}
.rsSlide .sub-title {
  position: absolute;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  top: 160px;
  z-index: 2;
  color: #FFF;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  text-decoration: none;
}
#featured-tag {
  position: absolute;
  background: #d5183c;
  bottom: 0;
  padding: 8px 20px;
  z-index: 3;
  left: 14px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}
/* 6. Slideout ---------------------------------------------------------------*/
#slide-out {
  position: fixed;
  right: 0;
  width: 60%;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 10000;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);
          transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);
  background: #f0f2f7;
  box-shadow: 6px 8px 5px 5px rgba(26, 38, 60, 0.9);
}
#slide-out .panel-header {
  background: #d5183c;
  position: fixed;
  top: -55px;
  -webkit-transition: top 0.3s 0s;
          transition: top 0.3s 0s;
  height: 55px;
  width: 100%;
  z-index: 100;
}
#slide-out .panel-header h3 {
  margin: 0;
  line-height: 55px;
  float: left;
  color: #FFF;
  font-size: 20px;
  padding: 0 40px;
}
#slide-out .panel-header i {
  color: #FFF;
  position: absolute;
  font-size: 18px;
  padding: 18px 35px;
  cursor: pointer;
  right: 0;
}
#slide-out .panel-header.open {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
          transition: top 0.3s 0.3s;
}
#slide-out form {
  padding: 10px 40px;
  margin-top: 40px;
}
#slide-out form .gform_title {
  display: none;
}
#slide-out form .top_label .gfield_label {
  font-size: 12px;
}
#slide-out input#gform_submit_button_1 {
  width: 100%;
  height: 50px;
  line-height: 40px;
  background: #d5183c;
  color: #FFF;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#slide-out div#gforms_confirmation_message {
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}
#slide-out.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#games {
  background: #FFF;
  margin-top: -60px;
  padding: 0 10px 40px 10px;
}
#games h2 {
  margin: 0 20px;
  color: #616c77;
  border-bottom: 1px solid #dfe4ee;
  padding: 0 0 10px 0;
  margin-bottom: 15px;
}
#games ul#cards {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}
#games ul#cards li {
  float: left;
  padding: 0;
  width: 100%;
}
#games ul#cards li .inner {
  box-shadow: 0 1px 1px #C8CFE6;
  border: 1px solid #f0f2f7;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 5px 0;
}
#games ul#cards li .inner img {
  border-radius: 3px 3px 0 0;
}
#games ul#cards li .inner .title {
  padding: 5px 0;
  font-size: 18px;
  border-bottom: 1px solid #f0f2f7;
}
#games ul#cards li .inner .title a {
  font-family: "iskra";
  color: #d5183c;
  text-decoration: none;
}
#games ul#cards li .inner .module,
#games ul#cards li .inner .time {
  padding: 10px 0;
  font-weight: bold;
  font-size: 12px;
  color: #a2adc6;
  text-transform: uppercase;
  float: left;
}
#games ul#cards li .inner .time {
  float: right;
}
#games ul#cards li .inner p {
  margin: 10px 0 0 0;
}
main.row .content-wrapper.game-wrapper {
  padding: 20px 40px 40px 40px;
  box-shadow: 2px 0px 3px 0px rgba(50, 50, 50, 0.05);
}
#game h3 {
  color: #d5183c;
  border-bottom: 1px solid #f0f2f7;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 20px;
}
#game .entry-header h1.title {
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #f0f2f7;
}
#game .entry-header .meta > div {
  float: left;
  padding: 12px 20px;
  color: #a2adc6;
  border-right: 1px solid #f0f2f7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
#game .entry-header .meta > div.module {
  padding-left: 0;
}
#game .entry-content ul {
  margin: 20px 0 20px 30px;
}
#game .entry-content .image {
  text-align: center;
}
#game .sub-content p {
  margin: 10px 0;
}
#game .sub-content ul {
  margin: 10px 0 10px 20px;
}
#game .sub-content ul li {
  margin: 0;
}
#game-sidebar h2 {
  margin: 0;
  background: #a2adc6;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  color: #FFF;
  font-weight: bold;
  box-shadow: inset 2px 0px 1px 0px rgba(50, 50, 50, 0.2);
}
#game-sidebar li {
  height: 45px;
  background: #FFF;
  box-shadow: inset 2px 0px 1px 0px rgba(50, 50, 50, 0.07);
  margin: 0;
  cursor: pointer;
}
#game-sidebar li > div {
  float: left;
  line-height: 45px;
}
#game-sidebar li > div.title {
  padding: 0 10px 0 20px;
}
#game-sidebar li > div.title a {
  color: #616c77;
  text-decoration: none;
}
#game-sidebar li:hover {
  background: #f7f8fb;
}
#modules {
  padding: 20px;
  margin-bottom: 15px;
}
#modules .module {
  padding: 0 8px;
}
#modules .module .inner {
  background: url('http://brads-macbook-pro-2.local:5757/wp-content/themes/rookierugby/img/safe.jpg') top center no-repeat;
  text-align: center;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
#modules .module .inner:after {
  background: rgba(213, 24, 60, 0.9);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: '';
  border-radius: 3px;
}
#modules .module .inner a {
  text-align: center;
  color: #FFF;
  font-size: 24px;
  text-decoration: none;
  line-height: 200px;
  position: relative;
  z-index: 1;
}
#modules .module .inner a:before {
  background: #FFF;
  height: 2px;
  width: 100%;
  position: absolute;
  top: -6px;
  content: '';
  left: 0;
}
#modules .module .inner a:after {
  background: #FFF;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  content: '';
  left: 0;
  right: 0;
}
/******************************
*
*  RoyalSlider Default Skin 
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/
/* v1.0.5 WordPress version */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr;
  -webkit-backface-visibility: hidden;
}
.royalSlider > * {
  float: left;
}
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}
.royalSlider > .rsContent,
.royalSlider > .rsSlideRoot {
  visibility: hidden;
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink,
.rsWebkit3d .rsContent,
.rsWebkit3d .rsBtnCenterer {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d .rsContent,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}
.rsThumb {
  float: left;
  position: relative;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
  z-index: 90;
}
/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  transition: 0s;
  display: none;
}
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto !important;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.rsAutoHeight .rsContent {
  position: relative;
  height: auto;
}
.rsPreloader {
  position: absolute;
  z-index: 0;
}
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.rsNav {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVideoContainer {
  /*left: 0;
    top: 0;
    position: absolute;*/
  /*width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}
.rsABlock,
.rsSBlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}
img.rsImg {
  max-width: none;
}
.grab-cursor {
  cursor: url(grab.png) 8 8, move;
}
.grabbing-cursor {
  cursor: url(grabbing.png) 8 8, move;
}
.rsNoDrag {
  cursor: auto;
}
.abBlackBox {
  color: #FFF;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  padding: 15px;
}
.abWhiteBox {
  color: #000;
  background: #FFF;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px;
}
.abTextAlignCenter {
  text-align: center;
}
/* Background */
.royalslider,
.royalslider .rsOverflow,
.royalslider .rsSlide,
.royalslider .rsVideoFrameHolder,
.royalslider .rsThumbs {
  background: #151515;
  color: #FFF;
}
.rsBullets {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 100;
}
.rsBullets .rsBullet {
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
          transition: box-shadow 0.3s ease, background-color 0.3s ease;
  float: left;
  margin-left: 12px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.rsBullets .rsBullet:hover {
  background-color: white;
}
.rsBullets .rsBullet.rsNavSelected {
  background-color: transparent;
  box-shadow: 0 0 0 2px white;
}
.rsSlide:after {
  background-image: -webkit-linear-gradient(left top, rgba(232, 0, 72, 0.65) 0%, rgba(0, 56, 146, 0.65) 100%);
  background-image: linear-gradient(to right bottom, rgba(232, 0, 72, 0.65) 0%, rgba(0, 56, 146, 0.65) 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  content: '';
  z-index: 1;
}
.rsSlide .title {
  position: absolute;
  text-align: center;
  font-size: 34px;
  top: 115px;
  z-index: 2;
  color: #FFF;
  width: 100%;
  text-decoration: none;
  font-family: "iskra";
}
.rsSlide .sub-title {
  position: absolute;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  top: 160px;
  z-index: 2;
  color: #FFF;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  text-decoration: none;
}
/*
  jQuery.mmenu CSS
*/
/*
  jQuery.mmenu panels CSS
*/
.mobile-menu {
  display: none;
}
.mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}
.mm-menu .mm-hidden {
  display: none;
}
.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}
.mm-menu {
  background: inherit;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.mm-menu > .mm-panel {
  background: #2c3240;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 0 20px 0 0;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 0;
}
.mm-menu > .mm-panel.mm-opened {
  left: 0%;
}
.mm-menu > .mm-panel.mm-subopened {
  left: -40%;
}
.mm-menu > .mm-panel.mm-highest {
  z-index: 1;
}
.mm-menu .mm-list {
  padding: 20px 0;
}
.mm-menu > .mm-list {
  padding: 20px 0 40px 0;
}
.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px;
}
.mm-panel > .mm-list:first-child {
  padding-top: 0;
}
.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.mm-list {
  font: inherit;
  font-size: 16px;
}
.mm-list a,
.mm-list a:hover {
  text-decoration: none;
}
.mm-list > li {
  position: relative;
}
.mm-list > li > a,
.mm-list > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 20px 10px 20px 40px;
  margin: 0;
  color: #FFF;
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
  width: auto;
  margin-left: 0px;
  position: relative;
  left: auto;
}
.mm-list a.mm-subopen {
  width: 40px;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.mm-list a.mm-subopen:before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.mm-list a.mm-subopen.mm-fullsubopen {
  width: 100%;
}
.mm-list a.mm-subopen.mm-fullsubopen:before {
  border-left: none;
}
.mm-list a.mm-subopen + a,
.mm-list a.mm-subopen + span {
  padding-right: 5px;
  margin-right: 40px;
}
.mm-list > li.mm-selected > a.mm-subopen {
  background: transparent;
}
.mm-list > li.mm-selected > a.mm-fullsubopen + a,
.mm-list > li.mm-selected > a.mm-fullsubopen + span {
  padding-right: 45px;
  margin-right: 0;
}
.mm-list a.mm-subclose {
  margin-top: -20px;
}
.mm-list > li.mm-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px;
  padding-right: 5px;
}
.mm-list > li.mm-spacer {
  padding-top: 40px;
}
.mm-list > li.mm-spacer.mm-label {
  padding-top: 25px;
}
.mm-list a.mm-subopen:after,
.mm-list a.mm-subclose:before {
  content: '';
  border: 2px solid transparent;
  display: block;
  width: 7px;
  height: 7px;
  margin-bottom: -5px;
  position: absolute;
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mm-list a.mm-subopen:after {
  border-top: none;
  border-left: none;
  right: 18px;
}
.mm-list a.mm-subclose:before {
  border-right: none;
  border-bottom: none;
  margin-bottom: -4px;
  left: 22px;
}
.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}
.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
  border-color: transparent;
}
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block;
}
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen {
  height: 40px;
}
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  right: 16px;
}
html.mm-opened .mm-page {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.mm-ismenu {
  background: #3b3e45;
  color: rgba(255, 255, 255, 0.8);
}
.mm-menu .mm-list > li:after {
  border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu .mm-list > li > a.mm-subclose {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  line-height: 20px;
}
.mm-menu .mm-list > li > a.mm-subopen:after,
.mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: rgba(255, 255, 255, 0.3);
}
.mm-menu .mm-list > li > a.mm-subopen:before {
  border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.1);
}
.mm-menu .mm-list > li.mm-label {
  background: rgba(255, 255, 255, 0.05);
}
.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical .mm-list li.mm-opened > ul {
  background: rgba(255, 255, 255, 0.05);
}
/*
  jQuery.mmenu offcanvas addon CSS
*/
.mm-page,
.mm-fixed-top,
.mm-fixed-bottom {
  -webkit-transition: none 0.4s ease-in;
  transition: none 0.4s ease-in;
  -webkit-transition-property: top, right, bottom, left, border;
  transition-property: top, right, bottom, left, border;
}
.mm-page,
#mm-blocker {
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mm-page {
  border: 0px solid rgba(0, 0, 0, 0);
}
html.mm-opening .mm-page {
  border: 0px solid rgba(1, 1, 1, 0);
}
.mm-fixed-top,
.mm-fixed-bottom {
  position: fixed;
  left: 0;
}
.mm-fixed-top {
  top: 0;
}
.mm-fixed-bottom {
  bottom: 0;
}
html.mm-opened {
  overflow: hidden;
  position: relative;
}
html.mm-opened body {
  overflow: hidden;
}
html.mm-opened .mm-page {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
html.mm-background .mm-page {
  background: inherit;
}
#mm-blocker {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) transparent;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
}
html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block;
}
.mm-menu.mm-offcanvas {
  display: none;
  position: fixed;
}
.mm-menu.mm-current {
  display: block;
}
html.mm-opening .mm-page,
html.mm-opening #mm-blocker,
html.mm-opening .mm-fixed-top,
html.mm-opening .mm-fixed-bottom {
  -webkit-transform: translate3d(80%, 0, 0);
  transform: translate3d(80%, 0, 0);
}
.mm-menu {
  width: 80%;
}
@media all and (max-width: 175px) {
  .mm-menu {
    width: 170px;
  }
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    -webkit-transform: translate3d(170px, 0, 0);
    transform: translate3d(170px, 0, 0);
  }
}
@media all and (min-width: 550px) {
  .mm-menu {
    width: 440px;
  }
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    -webkit-transform: translate3d(440px, 0, 0);
    transform: translate3d(440px, 0, 0);
  }
}
/* 2. Colors  --------------------------------------------------*/
/* 3. Typography  --------------------------------------------------*/
.light-bs {
  box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
}
.transition {
  -webkit-transition: 0.2s ease-in;
          transition: 0.2s ease-in;
}
.quick-transition {
  -webkit-transition: 0.08s ease-in;
          transition: 0.08s ease-in;
}
.medium-bs {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
.rounded {
  border-radius: 3px;
}
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}
#extend {
  min-height: 1000px;
}
body {
  position: relative;
  background: #FFF;
}
body.dimmed {
  overflow: hidden;
}
#page-wrapper {
  max-width: 1480px;
  margin: 0 auto;
  background: #E1E6EC;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
}
